body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .header h1 {
    font-size: 1rem; /* Smaller heading */
    margin: 0;
  }
  
  .header button {
    margin: 0;
  }
  
  .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: calc(100% - 50px); /* Adjust based on header height */
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
  }
  
  .box {
    border: 1px solid black;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
  }
  
  .numbers-section {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
  
  .number-box {
    text-align: center;
  }
  
  .week-builder-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
  }
  
  .week-grid {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
  }
  
  .day-column {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .day-column.selected {
    border: 2px solid blue;
  }
  
  .day-name {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem; /* Smaller font size */
  }
  
  .day-plan {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .meals-ingredients-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    flex-grow: 1;
  }
  
  .meal-item, .ingredient-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    width: 150px;
    text-align: left;
  }
  
  .item-grid {
    display: flex;
    flex-wrap: wrap;
  }